.header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eee;
    gap: 40px;

    .logo {
        width: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .stories {
        width: 80%;
        height: 100%;
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 10px;

        .addBtn {
            border-radius: 50%;
            width: 80px;
            height: 80px;
            background-color: #c2c2c2;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }
    }
}